body{
    font-family: Arial, Helvetica, sans-serif;
}


.knapp{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 250px;
    font-size: 15px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(241, 241, 241);
}
.knapp:hover{
    background-color: rgb(118, 118, 118);
    cursor: pointer;
}
.userCardContainer{
    border: solid;
    border-radius: 20px;
    display: inline-block;
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px 20px;
    padding: 10px;
}
.cardNameHeader{
    margin: 10px 10px;
    font-size: 20px;
}
.cardInfoList{
    padding: 10px;
    list-style-type:none;
    margin-top: 0px;
}

.formArea{
    background-color: beige;
    border: none;
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0px;
}
.inputArea{
    padding: 20px 0px;
}
.grunnleggendeData{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.1fr; 
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/ 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."; 
}
.inputTitle{
    padding-left: 20px;
    margin-top: 20px;
}
.userInfoInput{
    margin: 10px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}
.quadInputField{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.7fr 1.3fr 0.7fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". .";
}
.duoInputField{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.2fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". .";
    max-height: 100px;
}
.oneInputField{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr; 
    grid-template-rows: 0.7fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        ".";
    padding-top: 0px;
}


/*------------------------------Stiler for mindre klasser med begrenset bruk------------------------------------------*/

.noBotPadd{
    padding-bottom: 0px;
}
.noTopPadd{
    padding-top: 0px;
}