@font-face {
    font-family: 'Poppins-Medium';
    src: url('../Fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../Fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: 'Poppins-Medium', Fallback, sans-serif;
    font-size: 25px;
}

.knapp{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 250px;
    font-size: 15px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(241, 241, 241);
    transition-duration: 0.1s;
}
.knapp:hover{
    background-color: rgb(118, 118, 118);
    cursor: pointer;
    transition-duration: 0.1s;
    color: white;
}
.submitKnapp{
    margin-left: 30px;
}
#infoDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . .";
    
      
}
.userCardContainer{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    display: inline-block;
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px 20px;
    padding: 10px;
    transform: scale(1.0);
    transition-duration: 0.1s;
}
.userCardContainer:hover{
    box-shadow: 10px 10px 5px gray;
    transform: scale(1.1);
    transition-duration: 0.1s;
}
.cardNameHeader{
    margin: 10px 10px;
    font-size: 20px;
}
.cardInfoList{
    padding: 10px;
    list-style-type:none;
    margin-top: 0px;
}

.formArea{
    background-color: beige;
    border: none;
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0px;
}
.inputArea{
    padding: 20px 0px;
}
.grunnleggendeData{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.1fr; 
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/ 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."; 
}
.inputTitle{
    padding-left: 20px;
    margin-top: 20px;
}
.userInfoInput{
    margin: 10px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    transition-duration: 0.1s;
}
.userInfoInput:hover{
    border-width: 3px;
    padding: 8px 10px;
    transition-duration: 0.1s;
}
.quadInputField{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.7fr 1.3fr 0.7fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". .";
}
.duoInputField{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.2fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". .";
    max-height: 100px;
}
.oneInputField{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr; 
    grid-template-rows: 0.7fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        ".";
    padding-top: 0px;
}


/*------------------------------Stiler for mindre klasser med begrenset bruk------------------------------------------*/

.noBotPadd{
    padding-bottom: 0px;
}
.noTopPadd{
    padding-top: 0px;
}