</head>
<body>

    <nav id="mainNav">
        <ul>
            <li class="navLeft"><img src="img/nav logo.png" width="30px"></li>
            <li class="navLeft"><h1 id="mainHead">Test av database</h1> </li>
            <li class="navLeft"><a href="/hjem">Hjemmeside</a></li>
            <li class="navLeft"><a href="/om-siden">Om siden</a></li>
            <li class="navLeft"><a href="/form">Personsskjema</a></li>
        </ul>
    </nav>