<%- include('partials/header'); -%>

    <title>Database Testing</title>

    <link rel="stylesheet" href="CSS/styles.css">

<%- include('partials/nav'); -%>

    <main>
        <h2>Dette er en side for testing av databaser</h2>
        <div class="cardViewBackground"></div>
        <div class="advInfoCardContainer">
            <div class="advancedInfoCard">
                <img class="advInfoClose" src="img/xmark-solid.svg" width="20px" onclick="closeAdvancedInfo()" alt="">
                <h3>Info: <span id="advInfoHead-fornavn"></span> <span id="advInfoHead-etternavn"></span> (<span id="advInfoHead-ID"></span>)</h3>
                <p>Trykk på feltene under for detaljert informasjon.</p>
                <ul>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-grunnleggende">Grunnleggende data <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoGrunnleggende" class="advInfoCatView hidden">
                            <ul>
                                <li>Fornavn: <span class="advInfoField" id="advInfo-fornavn"></span></li>
                                <li>Etternavn: <span class="advInfoField" id="advInfo-etternavn"></span></li>
                                <li>Fødselsdato: <span class="advInfoField" id="advInfo-fodselsdato"></span></li>
                                <li>Alder: <span class="advInfoField" id="advInfo-alder"></span></li>
                                <br>
                                <li>Livsstatus: <span class="advInfoField" id="advInfo-livsstatus"></span></li>
                                <li>Endring livsstatus: <span class="advInfoField" id="advInfo-endringLivsstatus"></span></li>
                                <li>Ekteskap: <span class="advInfoField" id="advInfo-ekteskap"></span></li>
                                <li>Ektefelle: <span class="advInfoField" id="advInfo-ektefelle"></span></li>
                                <br>
                                <li>Forelder 1: <span class="advInfoField" id="advInfo-forelder1"></span></li>
                                <li>Forelder 2: <span class="advInfoField" id="advInfo-forelder2"></span></li>
                                <li>Barn: <span class="advInfoField" id="advInfo-barn"></span></li>
                                <br>
                                <li>Bosted post-nummer: <span class="advInfoField" id="advInfo-postnummer"></span></li>
                                <li>Land: <span class="advInfoField" id="advInfo-land"></span></li>
                                <li>Botid: <span class="advInfoField" id="advInfo-botid"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-okonomiskeForhold">Økonomiske forhold <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoOkonomiskeForhold" class="advInfoCatView hidden">
                            <ul>
                                <li>Bankkonto: <span class="advInfoField" id="advInfo-bankkonto"></span></li>
                                <li>Kredittkort: <span class="advInfoField" id="advInfo-kredittkort"></span></li>
                                <li>Lån: <span class="advInfoField" id="advInfo-lan"></span></li>
                                <li>Fullmakt til data: <span class="advInfoField" id="advInfo-datafullmakt"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-livssituasjon">Livssituasjon <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoLissituasjon" class="advInfoCatView hidden">
                            <ul>
                                <li>Er alvorlig syk: <span class="advInfoField" id="advInfo-alvorligsyk"></span></li>
                                <li>Flyktning: <span class="advInfoField" id="advInfo-flyktning"></span></li>
                                <li>Gravid: <span class="advInfoField" id="advInfo-gravid"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-NAV">NAV <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoNAV" class="advInfoCatView hidden">
                            <ul>
                                <li>Medlem: <span class="advInfoField" id="advInfo-medlem"></span></li>
                                <br>
                                <li>Ufør: <span class="advInfoField" id="advInfo-ufor"></span></li>
                                <li>Pensjonist: <span class="advInfoField" id="advInfo-pensjonist"></span></li>
                                <br>
                                <li>Yrkesskade: <span class="advInfoField" id="advInfo-yrkesskade"></span></li>
                                <li>Dagpenger: <span class="advInfoField" id="advInfo-dagpenger"></span></li>
                                <li>Sykepenger: <span class="advInfoField" id="advInfo-sykepenger"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-lanekassen">Lånekassen <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoLanekassen" class="advInfoCatView hidden">
                            <ul>
                                <li>Stipend: <span class="advInfoField" id="advInfo-stipend"></span></li>
                                <li>Studiested EU: <span class="advInfoField" id="advInfo-studiested"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-arbeidsforhold">Arbeidsforhold <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoArbeidsforhold" class="advInfoCatView hidden">
                            <ul>
                                <li>Freelancer: <span class="advInfoField" id="advInfo-freelancer"></span></li>
                                <br>
                                <li>Arbeidsforhold status: <span class="advInfoField" id="advInfo-arbforholdstatus"></span></li>
                                <li>Sektor: <span class="advInfoField" id="advInfo-sektor"></span></li>
                                <li>Arbeidstid forrige måned: <span class="advInfoField" id="advInfo-arbtidforrigemaned"></span></li>
                                <li>Arbeidstid denne måneden: <span class="advInfoField" id="advInfo-arbtiddennemaned"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-inntektFortid">Inntekt fortid <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoInntektFortid" class="advInfoCatView hidden">
                            <ul>
                                <li>Inntekt 2019: <span class="advInfoField" id="advInfo-inntekt2019"></span></li>
                                <li>Inntekt 2020: <span class="advInfoField" id="advInfo-inntekt2020"></span></li>
                                <li>Inntekt 2021: <span class="advInfoField" id="advInfo-inntekt2021"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="advInfoCatSelect" id="advInfoTog-inntekt2022">Inntekt 2022 <img src="img/chevron-right-solid.svg" width="15px" alt=""></button>
                        <div id="advInfoInntekt2022" class="advInfoCatView hidden">
                            <ul>
                                <li>Inntekt 1: <span class="advInfoField" id="advInfo-inntekt1"></span></li>
                                <li>Inntekt 2: <span class="advInfoField" id="advInfo-inntekt2"></span></li>
                                <li>Inntekt 3: <span class="advInfoField" id="advInfo-inntekt3"></span></li>
                                <li>Inntekt 4: <span class="advInfoField" id="advInfo-inntekt4"></span></li>
                                <li>Inntekt 5: <span class="advInfoField" id="advInfo-inntekt5"></span></li>
                                <li>Inntekt 6: <span class="advInfoField" id="advInfo-inntekt6"></span></li>
                                <li>Inntekt 7: <span class="advInfoField" id="advInfo-inntekt7"></span></li>
                                <li>Inntekt 8: <span class="advInfoField" id="advInfo-inntekt8"></span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="infoDisplay">
        </div>

    </main>

<%- include('partials/firebase') -%>

    <!-- scripts -->
    <script src="/JS/script.js"></script>

<%- include('partials/footer') -%>