<%- include('partials/header'); -%>

    <title>Om siden - Database Testing</title>

    <link rel="stylesheet" href="CSS/main.css">

<%- include('partials/nav'); -%>

    <h1>Hva er denne siden?</h1>
    
    <p>Dette er en side for testing av databaser, hovedsakelig hvordan legge informasjon inn i databasen og vise den på siden.</p>



<%- include('partials/footer'); -%>