@font-face {
    font-family: 'Poppins-Medium';
    src: url('../Fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../Fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

/*--------------------Navbar styles---------------------*/
#mainNav{
    background-color: beige;
    padding: 8px 10px;
}
#mainNav ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}
#mainNav ul li a, #mainNav ul li h1, #mainNav ul li img{
    text-decoration: none;
    color: black;
    text-align: center;
}
#mainNav ul li a:hover{
    text-decoration: underline;
}
/*TODO: Using flexbox, figure out how to make elements appear on either the right or left end of the navbar*/
.navRight{
    float: right;
}
.navLeft{
    float: left;
}

/*-----------------------General styles---------------------*/
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
main{
    margin: 10px;
}
h1#mainHead{
    margin: 0;
    /* font-size: 15px; */
}
h3{
    font-family: 'Poppins-Medium', Fallback, sans-serif;
    font-size: 25px;
}

.knapp{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 250px;
    font-size: 15px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(241, 241, 241);
    transition-duration: 0.1s;
}
.knapp:hover{
    background-color: rgb(118, 118, 118);
    cursor: pointer;
    transition-duration: 0.1s;
    color: white;
}

/*------------------------------Stiler for mindre klasser med begrenset bruk------------------------------------------*/

.noBotPadd{
    padding-bottom: 0px !important;
}
.noTopPadd{
    padding-top: 0px !important;
}
.hidden {
    display: none !important;
}
.noScroll{
    overflow: hidden !important;
}