<%- include('../partials/header'); -%>

    <title>Personsskjema</title>

    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/form.css">

<%- include('../partials/nav'); -%>

    <div class="ugyldigInputContainer">
        <div class="ugyldigInputPopup hidden">
            <p>Oops! Du har skrevet noe feil i feltene. Bruk knappene under for å navigere til feltene dette gjelder.</p>
            <div>
                <button onclick="popup.indexChange(-1)">Forrige felt</button>
                <button onclick="popup.indexChange(1)">Neste felt</button>
            </div>
        </div>
    </div>

    <form class="grunnleggendeData formArea">
        <h3>Grunnleggende data:</h3>
        <div class="quadInputFieldScaleable noBotPadd inputArea">
            <div class="inputScalable">
                <label for="fornavn" class="inputTitle">Fornavn:</label>
                <input class="userInfoInput" type="text" id="fornavn">
            </div>
            <div class="inputScalable">
                <label for="etternavn" class="inputTitle">Etternavn:</label>
                <input class="userInfoInput" type="text" id="etternavn">
            </div>
            <div class="inputScalable">
                <label for="fodselsdato" class="inputTitle">Fødselsdato:</label>
                <input class="userInfoInput" type="date" id="fodselsdato">
            </div>
        </div>
        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="status" class="inputTitle">Livsstatus:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="status">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Levende</option>
                    <option value="0" id="statusDead">Død</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="endringStatus" class="inputTitle hidden" id="endringStatusLabel">Endring Livsstatus:</label>
                <input class="userInfoInput hidden" type="date" id="endringStatus">
            </div>
            <div class="inputScalable">
                <label for="ekteskap" class="inputTitle">Ekteskap:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="ekteskap">
                    <option disabled selected value="default">Velg...</option>
                    <option value="0">Enslig</option>
                    <option value="1">Gift</option>
                    <option value="2">Skilt</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="ektefelle" class="inputTitle ektefelleLabel hidden">Ektefelle:</label>
                <input class="userInfoInput hidden" type="text" id="ektefelle">
            </div>
        </div>
        <div class="duoInputFieldScaleable inputArea noBotPadd">
            <div class="inputScalableSelection">
                <label for="forelder1" class="inputTitle">Forelder 1:</label>
                <input id="forelder1" class="forelder1Input userInfoInput" type="text">
                <div class="suggestions1Contain">
                    <button class="suggestions1DropBtn">toggle1</button>
                    <div class="suggestions1 hidden"></div>
                </div>
            </div>

            <div class="inputScalableSelection">
                <label for="forelder2" class="inputTitle">Forelder 2:</label>
                <input id="forelder2" class="forelder2Input userInfoInput" type="text">
                <div class="suggestions2Contain">
                    <button class="suggestions2DropBtn">toggle2</button>
                    <div class="suggestions2 hidden"></div>
                </div>
            </div>

        </div>

        <div class="oneInputScalable inputArea noTopPadd childArea noBotPadd">
            <div class="inputScalable">
                <label for="barn" class="inputTitle">Barn:</label>
                <input class="userInfoInput" type="text" id="barn">
            </div>
        </div>
        <button class="knapp" type="button" id="addBarn">Legg til barn</button>
        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="land" class="inputTitle">Land:</label>
                <input class="userInfoInput" type="text" id="land">
            </div>
            <div class="inputScalable">
                <label for="postnummer" class="inputTitle">Bosted post-nummer:</label>
                <input class="userInfoInput" type="text" id="postnummer" disabled>
            </div>
            <div class="inputScalable">
                <label for="botid" class="inputTitle">Botid:</label>
                <input class="userInfoInput" type="text" id="botid">
            </div>
        </div>
    </form>

    <form class="okonomiskeForhold formArea">
        <h3>Økonomiske forhold:</h3>

        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="bankkonto" class="inputTitle">Bankkonto:</label>
                <input class="userInfoInput" type="text" id="bankkonto">
            </div>
            <div class="inputScalable">
                <label for="kredittkort" class="inputTitle">Kredittkort:</label>
                <input class="userInfoInput" type="text" id="kredittkort">
            </div>
            <div class="inputScalable">
                <label for="lan" class="inputTitle">Lån:</label>
                <input class="userInfoInput" type="text" id="lan">
            </div>
            <div class="inputScalable">
                <label for="fullmakt" class="inputTitle">Fullmakt til data:</label><!--Finn ut hva fullmakt til data egentlig skal bety-->
                <input class="userInfoInput" type="text" id="fullmakt">
            </div>
        </div>
    </form>

    <form class="livsSituasjon formArea">
        <h3>Livssituasjon:</h3>
        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="alvorligSyk" class="inputTitle">Er alvorlig syk:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="alvorligSyk">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="flyktning" class="inputTitle">Flyktning:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="flyktning">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="gravid" class="inputTitle">Gravid:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="gravid">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>   
            </div>
        </div> 
    </form>

    <form class="NAV formArea">
        <h3>NAV:</h3>

        <div class="oneInputField inputArea">
            <label for="medlem" class="inputTitle">Medlem:</label>
            <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="medlem">
                <option disabled selected value="default">Velg...</option>
                <option value="1">Ja</option>
                <option value="0">Nei</option>
            </select>   
        </div>
        <div class="duoInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="ufor" class="inputTitle">Ufør:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="ufor">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="pensjonist" class="inputTitle">Pensjonist:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="pensjonist">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
        </div>
        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="yrkesskade" class="inputTitle">Yrkesskade:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="yrkesskade">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="dagpenger" class="inputTitle">Dagpenger:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="dagpenger">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="sykepenger" class="inputTitle">Sykepenger:</label>
                <input class="userInfoInput" type="text" id="sykepenger">
            </div>
        </div>
    </form>

    <form class="lanekassen formArea">
        <h3>Lånekassen:</h3>
        <div class="duoInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="stipend" class="inputTitle">Stipend:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="stipend">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="studiested" class="inputTitle">Studiested EU:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="studiested">
                    <option disabled selected value="default">Velg...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nei</option>
                </select>
            </div>
        </div>
    </form>

    <form class="arbeidsForhold formArea">
        <h3>Arbeidsforhold:</h3>
        <div class="oneInputField inputArea">
            <label for="freelancer" class="inputTitle">Freelancer:</label>
            <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="freelancer">
                <option disabled selected value="default">Velg...</option>
                <option value="1">Ja</option>
                <option value="0">Nei</option>
            </select>
        </div>
        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="forholdStatus" class="inputTitle">Arbeidsforhold status:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="forholdStatus">
                    <option disabled selected value="default">Velg...</option>
                    <option value="0">Ansatt</option>
                    <option value="1">Opphørt</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="sektor" class="inputTitle">Sektor:</label>
                <select autocomplete="off" class="userInfoInput userInfoDropdown" type="text" id="sektor">
                    <option disabled selected value="default">Velg...</option>
                    <option value="0">Privat</option>
                    <option value="1">Stat</option>
                </select>
            </div>
            <div class="inputScalable">
                <label for="forrigeManed" class="inputTitle">Arbeidstid forrige måned:</label>
                <input class="userInfoInput" type="text" id="forrigeManed">
            </div>
            <div class="inputScalable">
                <label for="denneManed" class="inputTitle">Arbeidstid denne måned</label>
                <input class="userInfoInput" type="text" id="denneManed">
            </div>
        </div>
    </form>

    <form class="inntektFortid formArea">
        <h3>Inntekt fortid:</h3>

        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="inntekt2019" class="inputTitle">Inntekt 2019:</label>
                <input class="userInfoInput" type="text" id="inntekt2019">
            </div>
            <div class="inputScalable">
                <label for="inntekt2020" class="inputTitle">Inntekt 2020:</label>
                <input class="userInfoInput" type="text" id="inntekt2020">
            </div>
            <div class="inputScalable">
                <label for="inntekt2021" class="inputTitle">Inntekt 2021:</label>
                <input class="userInfoInput" type="text" id="inntekt2021">
            </div>
        </div>
    </form>

    <form class="inntekt2022 formArea">
        <h3>Inntekt 2022:</h3>

        <div class="quadInputFieldScaleable inputArea">
            <div class="inputScalable">
                <label for="inntekt1" class="inputTitle">Inntekt 1:</label>
                <input class="userInfoInput" type="text" id="inntekt1">
            </div>
            <div class="inputScalable">
                <label for="inntekt2" class="inputTitle">Inntekt 2:</label>
                <input class="userInfoInput" type="text" id="inntekt2">
            </div>
            <div class="inputScalable">
                <label for="inntekt3" class="inputTitle">Inntekt 3:</label>
                <input class="userInfoInput" type="text" id="inntekt3">
            </div>
            <div class="inputScalable">
                <label for="inntekt4" class="inputTitle">Inntekt 4:</label>
                <input class="userInfoInput" type="text" id="inntekt4">
            </div>
            <div class="inputScalable">
                <label for="inntekt5" class="inputTitle">Inntekt 5:</label>
                <input class="userInfoInput" type="text" id="inntekt5">
            </div>
            <div class="inputScalable">
                <label for="inntekt6" class="inputTitle">Inntekt 6:</label>
                <input class="userInfoInput" type="text" id="inntekt6">
            </div>
            <div class="inputScalable">
                <label for="inntekt7" class="inputTitle">Inntekt 7:</label>
                <input class="userInfoInput" type="text" id="inntekt7">
            </div>
            <div class="inputScalable">
                <label for="inntekt8" class="inputTitle">Inntekt 8:</label>
                <input class="userInfoInput" type="text" id="inntekt8">
            </div>
        </div>
    </form>
    <div class="formArea">
        <h3>Legg til person:</h3>
        <button class="knapp submitKnapp" type="submit">Submit</button>
    </div>

<%- include('../partials/firebase') -%>

    <!-- scripts -->
    <script src="/JS/adminForm.js"></script>
    <script src="/JS/regex.js"></script>
    <script src="/JS/formInvalidInputCheck.js"></script>

<%- include('../partials/footer') -%>