<%- include('../partials/header'); -%>

    <title>Database testing</title>

    <!-- links -->
    <link rel="stylesheet" href="/CSS/main.css">

<%- include('../partials/nav'); -%>

<%- include('../partials/footer') -%>